<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Credentials</title>
</head>
<body>
<!--    I want to have something where there is a form with no input that submits to a page
that comes back here with two UUIDs that are displayed as the user credentials-->
  <div class="container">
    <div th:insert="~{navbar}"></div>
    <div class="row" th:unless="${user}">
      <div class="col-md-12">
        <form action="#" th:action="@{/signup}" method="post">
          <div>
            <button class="btn btn-default" type="submit">Get Credentials</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row" th:if="${user}">
      <div class="col-md-12">
        <p th:text="'user: ' + ${user}"></p>
        <p th:text="'password: ' + ${password}"></p>
        <p>Copy these values and store them in a safe place, you will not be able to see them again.</p>
        <p>Be sure to download the postman
          <a th:href="@{/postman/gettimhired.com.postman_collection.json}" download="gettimhired.com.postman_collection.json">collection</a>
          and
          <a th:href="@{/postman/GETTIMHIRED_PROD.postman_environment.json}" download="GETTIMHIRED_PROD.postman_environment.json">environment</a>
        </p>
        <p>Import the collections and then set the USER_ID and USER_PASSWORD fields to get started</p>
      </div>
    </div>
  </div>
</body>
</html>