<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Get Tim Hired</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{navbar}"></div>
        <div th:unless="${hasCandidate}">
            <div class="row" th:each="candidate : ${candidates}">
                <div class="col-md-12">
                    <p>
                        <a th:href="@{/(candidateId=${candidate.id})}" th:text="${candidate.firstName() + ' ' + candidate.lastName() }">Link</a>
                    </p>
                </div>
            </div>
        </div>
        <div th:if="${hasCandidate}">
            <div class="row">
                <div class="col-md-12">
                    <p>With candidate</p>
                    <p>
                        <a th:href="@{/}">Home</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>